<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Subspace Music</title>
  </head>
  <body>
    <header>
      <a href="/">
        <button type="button" class="home-btn">
          <img src="/house.svg" alt="Go home" />
        </button>
      </a>
      <h1>Subspace Music</h1>
    </header>
    <div id="root">
      <main>
        <% if (locals.album) { %>
        <div class="album-wrapper">
          <div class="album-cover-wrapper" style="margin-bottom: 20px">
            <img
              src="<%= album.cover %>"
              alt="<%= album.album %> Photo"
              class="album-cover"
            />
          </div>
          <h2>Album</h2>
          <p class="album-name"><%= album.album %> (<%= album.yr %>)</p>
          <% if (locals.albumArtist) { %>
          <h3 style="margin-bottom: 8px">Artist</h3>
          <a href="/artists/<%= albumArtist.id %>" class="artist-link"
            ><%= albumArtist.name %></a
          >
          <% } %> <% if (locals.albumGenre) { %>
          <p class="category-header" style="margin-bottom: 5px">Genre</p>
          <a href="/genres/<%= albumGenre.id %>" class="genre-link"
            ><%= albumGenre.name %></a
          >
          <% } %>
          <p class="category-header">Description</p>
          <p class="album-description"><%= album.description %></p>
        </div>
        <% } %>
      </main>
    </div>
  </body>
</html>
