<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Subspace Music</title>
  </head>
  <body>
    <div id="root">
      <%- include('partials/header', {category: "album"}) %>
      <main>
        <% if (locals.albums) { %> <% albums.forEach(function(album) { %>
        <div class="album">
          <div class="album-info">
            <div class="album-cover-wrapper">
              <img
                src="<%= album.cover %>"
                alt="<%= album.album %> Album Cover"
                class="album-cover"
              />
            </div>
            <p class="album-title"><%= album.album %></p>
            <div class="album-actions">
              <a href="/albums/<%= album.id %>">
                <button type="button">View</button>
              </a>
              <a href="/albums/edit/<%= album.id %>">
                <button type="button">Edit</button>
              </a>
            </div>
          </div>
        </div>
        <% }); %> <% } %>
      </main>
    </div>
  </body>
</html>
