<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Subspace Music</title>
  </head>
  <body>
    <%- include('partials/header', {category: "artist"}) %>
    <div id="root">
      <main>
        <% if (locals.artists) { %> <% artists.forEach(function(artist) { %>
        <div class="artist">
          <div class="artist-info">
            <div class="artist-pic-wrapper">
              <img
                src="<%= artist.image %>"
                alt="<%= artist.name %> Photo"
                class="artist-pic"
              />
            </div>
            <p class="artist-name"><%= artist.name %></p>
            <div class="artist-actions">
              <a href="/artists/<%= artist.id %>">
                <button type="button">View</button>
              </a>
              <a href="/artists/edit/<%= artist.id %>">
                <button type="button">Edit</button>
              </a>
            </div>
          </div>
        </div>
        <% }); %> <% } %>
      </main>
    </div>
  </body>
</html>
