<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Subspace Music</title>
  </head>
  <body>
    <header>
      <h1>Subspace Music</h1>
    </header>
    <div id="root">
      <main>
        <form action="/artists/edit/<%= artist.id %>" method="post">
          <%- include("partials/errors.ejs") %>
          <h2>Edit artist</h2>
          <div class="form-row">
            <label for="artistName">Name </label>
            <input
              type="text"
              name="artistName"
              id="artistName"
              placeholder="50 characters max"
              maxlength="50"
              value="<%= artist.name %>"
              required
            />
          </div>
          <div class="form-row">
            <label for="artistGenre">Genre </label>
            <% if (locals.artistGenre !== undefined) { %>
            <input
              list="genres"
              id="artistGenre"
              name="artistGenre"
              placeholder="Search genres"
              value="<%= artistGenre.name %>"
            />
            <% } else { %>
            <input
              list="genres"
              id="artistGenre"
              name="artistGenre"
              placeholder="Search genres"
            />
            <% } %>
            <datalist id="genres">
              <% if (locals.genres) { %> <% genres.forEach(function(genre) { %>
              <option value="<%= genre.name %>"></option>
              <% }); %> <% } %>
            </datalist>
          </div>
          <div class="form-row">
            <label for="artistDescription">Description </label>
            <textarea
              name="artistDescription"
              id="artistDescription"
              rows="8"
              placeholder="500 characters max"
              maxlength="500"
            >
<%= artist.description %></textarea
            >
          </div>
          <div class="form-row">
            <label for="artistImage">Image URL </label>
            <input
              type="url"
              name="artistImage"
              id="artistImage"
              placeholder="Enter a valid URL"
              value="<%= artist.image %>"
            />
          </div>
          <a href="/artists/delete/<%= artist.id %>" class="delete-artist"
            >Delete</a
          >
          <button type="submit" class="submit-category">Submit</button>
        </form>
      </main>
    </div>
  </body>
</html>
